@font-face {
  font-family: 'Gilroy';
  src: url('/src/fonts/Gilroy-Medium.woff2') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/fonts/Gilroy-Regular.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/fonts/Gilroy-Semibold.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
}
