<section class="advertisement">
    <div class="container">
        <div class="advertisement-box">
            <h2 class="visually-hidden">Advertisements</h2>
            <div class="advertisement-wrapper">
                <p class="advertisement-text">
                    Choose <span class="accent">your story</span>, making every moment unique. Time is your style, and
                    we
                    reveal
                    it.
                </p>
                <a href="#contacts" class="advertisement-scroll-link">Contact Us</a>
            </div>
        </div>
    </div>
</section>