<section class="catalog" id="catalog">
    <div class="container catalog-container">
        <h2 class="catalog-subtitle">Catalog</h2>

        <ul class="catalog-list">
            <li class="catalog-list-item">
                <div class="catalog-image-wrap">
                    <picture>
                        <source srcset="/img/catalog/watch-1-desk-min.png 1x, /img/catalog/watch-1-desk@2x-min.png 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="/img/catalog/watch-1-tab-min.png 1x, /img/catalog/watch-1-tab@2x-min.png 2x"
                            media="(min-width: 768px)" />
                        <source
                            srcset="/img/catalog/watch-1-mobile-min.png 1x, /img/catalog/watch-1-mobile@2x-min.png 2x"
                            media="(max-width: 767px)" />
                        <img class="catalog-image first-img" src="/img/catalog/watch-1-mobile-min.png" width="208"
                            height="226" alt="Garmin Fenix 7X Pro Sapphire Solar">
                    </picture>
                </div>
                <div class="catalog-product-info">
                    <h3 class="catalog-product-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
                    <p class="catalog-product-price">€500</p>
                </div>
            </li>
            <li class="catalog-list-item">
                <div class="catalog-image-wrap">
                    <picture>
                        <source srcset="/img/catalog/watch-2-desk-min.png 1x, /img/catalog/watch-2-desk@2x-min.png 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="/img/catalog/watch-2-tab-min.png 1x, /img/catalog/watch-2-tab@2x-min.png 2x"
                            media="(min-width: 768px)" />
                        <source
                            srcset="/img/catalog/watch-2-mobile-min.png 1x, /img/catalog/watch-2-mobile@2x-min.png 2x"
                            media="(max-width: 767px)" />
                        <img class="catalog-image" src="/img/catalog/watch-2-mobile-min.png" width="208" height="226"
                            alt="Garmin Marq Athlete">
                    </picture>
                </div>
                <div class="catalog-product-info">
                    <h3 class="catalog-product-name">Garmin Marq Athlete</h3>
                    <p class="catalog-product-price">€450</p>
                </div>
            </li>
            <li class="catalog-list-item">
                <div class="catalog-image-wrap">
                    <picture>
                        <source srcset="/img/catalog/watch-3-desk-min.png 1x, /img/catalog/watch-3-desk@2x-min.png 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="/img/catalog/watch-3-tab-min.png 1x, /img/catalog/watch-3-tab@2x-min.png 2x"
                            media="(min-width: 768px)" />
                        <source
                            srcset="/img/catalog/watch-3-mobile-min.png 1x, /img/catalog/watch-3-mobile@2x-min.png 2x"
                            media="(max-width: 767px)" />
                        <img class="catalog-image" src="/img/catalog/watch-3-mobile-min.png" width="208" height="226"
                            alt="Garmin Descent MK1">
                    </picture>
                </div>
                <div class="catalog-product-info">
                    <h3 class="catalog-product-name">Garmin Descent MK1</h3>
                    <p class="catalog-product-price">€680</p>
                </div>
            </li>
            <li class="catalog-list-item">
                <div class="catalog-image-wrap">
                    <picture>
                        <source srcset="/img/catalog/watch-4-desk-min.png 1x, /img/catalog/watch-4-desk@2x-min.png 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="/img/catalog/watch-4-tab-min.png 1x, /img/catalog/watch-4-tab@2x-min.png 2x"
                            media="(min-width: 768px)" />
                        <source
                            srcset="/img/catalog/watch-4-mobile-min.png 1x, /img/catalog/watch-4-mobile@2x-min.png 2x"
                            media="(max-width: 767px)" />
                        <img class="catalog-image" src="/img/catalog/watch-4-mobile-min.png" width="208" height="226"
                            alt="Garmin D2 Delta PX">
                    </picture>
                </div>
                <div class="catalog-product-info">
                    <h3 class="catalog-product-name">Garmin D2 Delta PX</h3>
                    <p class="catalog-product-price">€380</p>
                </div>
            </li>
            <li class="catalog-list-item list-item">
                <div class="catalog-image-wrap">
                    <picture>
                        <source srcset="/img/catalog/watch-5-desk-min.png 1x, /img/catalog/watch-5-desk@2x-min.png 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="/img/catalog/watch-5-tab-min.png 1x, /img/catalog/watch-5-tab@2x-min.png 2x"
                            media="(min-width: 768px)" />
                        <img class="catalog-image" src="/img/catalog/watch-5-tab-min.png" width="208" height="226"
                            alt="Garmin Descent MK1">
                    </picture>
                </div>
                <div class="catalog-product-info">
                    <h3 class="catalog-product-name">Garmin Descent MK1</h3>
                    <p class="catalog-product-price">€680</p>
                </div>
            </li>
            <li class="catalog-list-item list-item">
                <div class="catalog-image-wrap">
                    <picture>
                        <source srcset="/img/catalog/watch-6-desk-min.png 1x, /img/catalog/watch-6-desk@2x-min.png 2x"
                            media="(min-width: 1280px)" />
                        <source srcset="/img/catalog/watch-6-tab-min.png 1x, /img/catalog/watch-6-tab@2x-min.png 2x"
                            media="(min-width: 768px)" />
                        <img class="catalog-image" src="/img/catalog/watch-6-tab-min.png" width="208"
                            alt="Garmin D2 Delta PX">
                    </picture>
                </div>
                <div class="catalog-product-info">
                    <h3 class="catalog-product-name">Garmin D2 Delta PX</h3>
                    <p class="catalog-product-price">€380</p>
                </div>
            </li>
        </ul>
        <button type="button" class="catalog-button">Show more</button>
    </div>
</section>