<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a class="logo-link header-logo" href="./index.html">watchcharm</a>
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a class="header-menu-link current" href="#hero">Home</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link current" href="#about">About Us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link current" href="#catalog">Catalog</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link current" href="#sale">Sale</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link current" href="#reviews">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link current" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="social-network-list">
      <li class="social-network-item">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          class="social-network-link"
        >
          <svg
            class="social-network-icon"
            aria-label="іконка фейсбуку"
            width="20"
            height="20"
          >
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-network-item">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          class="social-network-link"
        >
          <svg
            class="social-network-icon"
            aria-label="іконка інстаграму"
            width="20"
            height="20"
          >
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-network-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          class="social-network-link"
        >
          <svg
            class="social-network-icon"
            aria-label="іконка ютуба"
            width="20"
            height="20"
          >
            <use href="/img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon" width="34" height="34">
        <use href="/img/icons.svg#icon-btn-menu"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu mob-bg-image" data-menu>
    <div class="container mobile-menu-container">
      <button class="mobile-menu-button" type="button" data-menu-close>
        <svg
          class="mobile-cross-btn"
          aria-label="кнопка закриття"
          width="34"
          height="34"
        >
          <use href="/img/icons.svg#icon-btn-close"></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link current" href="#hero">Home</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link current" href="#about">About</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link current" href="#catalog">Catalog</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link current" href="#sale">Sale</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link current" href="#reviews">Reviews</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link current" href="#contact-us"
              >Contact Us</a
            >
          </li>
        </ul>
      </nav>

      <div class="soc-linlk">
        <ul class="mob-social-network-list">
          <li class="mob-social-network-item">
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              class="mob-social-network-link"
            >
              <svg
                class="mob-social-network-icon"
                aria-label="іконка фейсбуку"
                width="16"
                height="16"
              >
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="mob-social-network-item">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              class="mob-social-network-link"
            >
              <svg
                class="mob-social-network-icon"
                aria-label="іконка інстаграму"
                width="16"
                height="16"
              >
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mob-social-network-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              class="mob-social-network-link"
            >
              <svg
                class="mob-social-network-icon"
                aria-label="іконка ютуба"
                width="16"
                height="16"
              >
                <use href="/img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>