<body>
  <header class="header">
    <div class="container header-container">
      <nav class="header-navigation"> <a class="logo-link header-logo" href="./index.html">watchcharm</a>
        <ul class="header-menu-list">
          <li class="header-menu-item"><a class="header-menu-link current" href="./index.html">Home</a></li>
          <li class="header-menu-item"><a class="header-menu-link" href="">About Us</a></li>
          <li class="header-menu-item"><a class="header-menu-link" href="">Catalog</a></li>
          <li class="header-menu-item"><a class="header-menu-link" href="">Sale</a></li>
          <li class="header-menu-item"><a class="header-menu-link" href="">Reviews</a></li>
          <li class="header-menu-item"><a class="header-menu-link" href="">Contact Us</a></li>
        </ul>
      </nav>
    <ul class="social-network-list">
      <li class="social-network-item">
        <a href="" class="social-network-link">
          <svg class="social-network-icon" aria-label="іконка фейсбуку" width="20" height="20">
            <use href="../img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-network-item">
        <a href="" class="social-network-link">
          <svg class="social-network-icon" aria-label="іконка інстаграму" width="20" height="20">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-network-item">
        <a href="" class="social-network-link">
          <svg class="social-network-icon" aria-label="іконка ютуба" width="20" height="20">
            <use href="../img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      </ul>
      <button class="burger-btn" type="button">
        <svg class="burger-icon" width="34" height="34">
          <use href="../img/icons.svg#icon-btn-menu"></use>
        </svg>
      </button>
    </div>

<div class="mobile-menu mob-bg-image is-close">
  <div class="container mobile-menu-container">
    <button class="mobile-menu-button" type="button">
      <svg class="mobile-cross-btn" aria-label="кнопка закриття" width="17" height="17">
        <use href="../img/icons.svg#icon-btn-close"></use>
      </svg>
    </button>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item"><a class="mobile-menu-link current" href="./index.html">Home</a></li>
        <li class="mobile-menu-item"><a class="mobile-menu-link" href="">About</a></li>
        <li class="mobile-menu-item"><a class="mobile-menu-link" href="">Catalog</a></li>
        <li class="mobile-menu-item"><a class="mobile-menu-link" href="">Sale</a></li>
        <li class="mobile-menu-item"><a class="mobile-menu-link" href="">Reviews</a></li>
        <li class="mobile-menu-item"><a class="mobile-menu-link" href="">Contact Us</a></li>
      </uL>
    </nav>

    <div class="soc-linlk">
      <ul class="mob-social-network-list">
        <li class="mob-social-network-item">
          <a href="" class="mob-social-network-link">
            <svg class="mob-social-network-icon" aria-label="іконка фейсбуку" width="16" height="16">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mob-social-network-item">
          <a href="" class="mob-social-network-link">
            <svg class="mob-social-network-icon" aria-label="іконка інстаграму" width="16" height="16">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mob-social-network-item">
          <a href="" class="mob-social-network-link">
            <svg class="mob-social-network-icon" aria-label="іконка ютуба" width="16" height="16">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</header>
    