<body>
<header class="header">
    <div class="container header-container">
      <nav class="header-navigation">
        <a class="logo-link header-logo" href="./index.html">watchcharm</a>
        <ul class="header-menu-list">
        <li class="header-menu-item"><a class="header-menu-link current" href="./index.html">Home</a></li>
        <li class="header-menu-item"><a class="header-menu-link" href="">About Us</a></li>
        <li class="header-menu-item"><a class="header-menu-link" href="">Catalog</a></li>
        <li class="header-menu-item"><a class="header-menu-link" href="">Sale</a></li>
        <li class="header-menu-item"><a class="header-menu-link" href="">Reviews</a></li>
        <li class="header-menu-item"><a class="header-menu-link" href="">Contact Us</a></li>
    </ul>
</nav>
