<section class="hero" id="hero">
  <div class="container">
    <div class="hero-wrap">
      <div class="hero-text-wrap">
        <h1 class="hero-title">
          Welcome to our <span class="extra">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-img-wrap">
        <ul class="hero-list">
          <li class="hero-list-item">
            <img
              class="hero-img"
              srcset="
                /img/team/team-1-min.png    1x,
                /img/team/team-1@2x-min.png 2x
              "
              src="/img/team/team-1-min.png"
              alt="Hero person 1"
            />
          </li>
          <li class="hero-list-item">
            <img
              class="hero-img"
              srcset="
                /img/team/team-2-min.png    1x,
                /img/team/team-2@2x-min.png 2x
              "
              src="/img/team/team-2-min.png"
              alt="Hero person 2"
            />
          </li>
          <li class="hero-list-item">
            <img
              class="hero-img"
              srcset="
                /img/team/team-3-min.png    1x,
                /img/team/team-3@2x-min.png 2x
              "
              src="/img/team/team-3-min.png"
              alt="Hero person 3"
            />
          </li>
        </ul>
        <a class="hero-anchor-link" href="#footer">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        srcset="
          /img/hero/hero-desk-min.png    1x,
          /img/hero/hero-desk@2x-min.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="/img/hero/hero-tab-min.png 1x, /img/hero/hero-tab@2x-min.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/hero/hero-mobile-min.png    1x,
          /img/hero/hero-mobile@2x-min.png 2x
        "
        media="(min-width: 320px)"
      />
      <img
        class=""
        src="/img/hero/hero-desk-min.png"
        alt="Hero Watch Picture"
      />
    </picture>
  </div>
</section>
