<section class="sale">
    <div class="container">
        <h1 class="sale-title">Sale</h1>
        <div class="sale-container">
            <div class="sale-card-box">
                <ul class="sale-list">
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="/img/sale/sale-watch-1-min.png 1x, /img/sale/sale-watch-1@2x-min.png 2x"
                                media="(min-width: 1280px)" />
                            <source srcset="/img/sale/sale-watch-1-min.png 1x, /img/sale/sale-watch-1@2x-min.png 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="/img/sale/sale-watch-1-mobile-min.png 1x, /img/sale/sale-watch-1-mobile@2x-min.png 2x"
                                media="(max-width: 767px)" />
                            <img src="/img/sale/sale-watch-1-mobile-min.png" width="52" height="54"
                                alt="Mans black watch">
                        </picture>
                    </li>
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="/img/sale/sale-watch-2-min.png 1x, /img/sale/sale-watch-2@2x-min.png 2x"
                                media="(min-width: 1280px)" />
                            <source srcset="/img/sale/sale-watch-2-min.png 1x, /img/sale/sale-watch-2@2x-min.png 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="/img/sale/sale-watch-2-mobile-min.png 1x, /img/sale/sale-watch-2-mobile@2x-min.png 2x"
                                media="(max-width: 767px)" />
                            <img src="/img/sale/sale-watch-2-mobile-min.png" width="52" height="54"
                                alt="Mans black watch 2">
                        </picture>
                    </li>
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="/img/sale/sale-watch-3-min.png 1x, /img/sale/sale-watch-3@2x-min.png 2x"
                                media="(min-width: 1280px)" />
                            <source srcset="/img/sale/sale-watch-3-min.png 1x, /img/sale/sale-watch-3@2x-min.png 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="../img/sale/sale-watch-3-mobile-min.png 1x, ../img/sale/sale-watch-3-mobile@2x-min.png 2x"
                                media="(max-width: 767px)" />
                            <img src="../img/sale/sale-watch-3-mobile-min.png" width="52" height="54"
                                alt="Mans black watch 3">
                        </picture>
                    </li>
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="/img/sale/sale-watch-4-min.png 1x, /img/sale/sale-watch-4@2x-min.png 2x"
                                media="(min-width: 1280px)" />
                            <source srcset="/img/sale/sale-watch-4-min.png 1x, /img/sale/sale-watch-4@2x-min.png 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="/img/sale/sale-watch-4-mobile-min.png 1x, /img/sale/sale-watch-4-mobile@2x-min.png 2x"
                                media="(max-width: 767px)" />
                            <img src="/img/sale/sale-watch-4-mobile-min.png" width="52" height="54"
                                alt="Mans black watch 4">
                        </picture>
                    </li>
                </ul>

                <div class="sale-img-wrapper">
                    <picture>
                        <source srcset="/img/sale/sale-watch-min.png 1x, /img/sale/sale-watch@2x-min.png 2x"
                            media="(min-width: 768px)" />
                        <source
                            srcset="/img/sale/sale-watch-mobile-min.png 1x, /img/sale/sale-watch-mobile@2x-min.png 2x"
                            media="(max-width: 767px)" />
                        <img class="sale-img" src="/img/sale/sale-watch-min.png" width="235" height="285"
                            alt="Big black watch">
                    </picture>
                </div>
            </div>
            <div class="sale-product-descr">
                <h1 class="sale-product-title">MARQ&reg; Commander (Gen 2) - Carbon Edition</h1>
                <p class="sale-product-tag">Product tag: 706587</p>
                <div class="sale-new-price-wrap">
                    <div class="sale-new-price">
                        <p class="sale-product-new-price">€1500</p>
                    </div>
                    <p class="sale-product-prise">€3000</p>
                </div>
                <p class="sale-info">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
                    adventurers
                    that takes
                    materials and<span class="br-hide"><br></span> features
                    to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has
                    a
                    precise AMOLED
                    touch screen. The sensitive touch screen is complemented by buttons that can be used<span
                        class="br-hide"><br></span> in any
                    conditions.
                </p>
                <div class="sale-label-container">
                    <div class="sale-label">Fused carbon fiber</div>
                    <div class="sale-label">Grade-5 Titanuim</div>
                    <div class="sale-label">Athlete</div>
                    <div class="sale-label">Golfer</div>
                    <div class="sale-label">Commander</div>
                    <div class="sale-label">Adventurer</div>
                </div>
            </div>
        </div>
    </div>
</section>