<section class="sale" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-container">
      <div class="sale-card-box">
        <ul class="sale-list">
          <li class="sale-list-item">
            <picture>
              <source media="(min-width: 1158px)" srcset="
                  /img/sale/sale-desk-1-min.png    1x,
                  /img/sale/sale-desk-1@2x-min.png 2x
                " />
              <source media="(min-width: 768px)" srcset="
                  /img/sale/sale-tab-1-min.png    1x,
                  /img/sale/sale-tab-1@2x-min.png 2x
                " />
              <source media="(max-width: 767px)" srcset="
                  /img/sale/sale-mob-1-min.png    1x,
                  /img/sale/sale-mob-1@2x-min.png 2x
                " />
              <img src="/img/sale/sale-desk-1-min.png" alt="wristwatch-1" class="sale-img" />
            </picture>
          </li>
          <li class="sale-list-item">
            <picture>
              <source media="(min-width: 1158px)" srcset="
                  /img/sale/sale-desk-2-min.png    1x,
                  /img/sale/sale-desk-2@2x-min.png 2x
                " />
              <source media="(min-width: 768px)" srcset="
                  /img/sale/sale-tab-2-min.png    1x,
                  /img/sale/sale-tab-2@2x-min.png 2x
                " />
              <source media="(max-width: 767px)" srcset="
                  /img/sale/sale-mob-2-min.png    1x,
                  /img/sale/sale-mob-2@2x-min.png 2x
                " />
              <img src="/img/sale/sale-desk-2-min.png" alt="wristwatch-2" class="sale-img" />
            </picture>
          </li>
          <li class="sale-list-item">
            <picture>
              <source media="(min-width: 1158px)" srcset="
                  /img/sale/sale-desk-3-min.png    1x,
                  /img/sale/sale-desk-3@2x-min.png 2x
                " />
              <source media="(min-width: 768px)" srcset="
                  /img/sale/sale-tab-3-min.png    1x,
                  /img/sale/sale-tab-3@2x-min.png 2x
                " />
              <source media="(max-width: 767px)" srcset="
                  /img/sale/sale-mob-3-min.png    1x,
                  /img/sale/sale-mob-3@2x-min.png 2x
                " />
              <img src="/img/sale/sale-desk-3-min.png" alt="wristwatch-3" class="sale-img" />
            </picture>
          </li>
          <li class="sale-list-item">
            <picture>
              <source media="(min-width: 1158px)" srcset="
                  /img/sale/sale-desk-4-min.png    1x,
                  /img/sale/sale-desk-4@2x-min.png 2x
                " />
              <source media="(min-width: 768px)" srcset="
                  /img/sale/sale-tab-4-min.png    1x,
                  /img/sale/sale-tab-4@2x-min.png 2x
                " />
              <source media="(max-width: 767px)" srcset="
                  /img/sale/sale-mob-4-min.png    1x,
                  /img/sale/sale-mob-4@2x-min.png 2x
                " />
              <img src="/img/sale/sale-desk-4-min.png" alt="wristwatch-4" class="sale-img" />
            </picture>
          </li>
        </ul>
        <div class="sale-img-wrapper">
          <picture>
            <source media=" (min-width: 768px)" srcset="
                /img/sale/sale-tab-title-min.png    1x,
                /img/sale/sale-tab-title@2x-min.png 2x
              " />
            <source media=" (min-width: 768px)" srcset="
                /img/sale/sale-tab-title-min.png    1x,
                /img/sale/sale-tab-title@2x-min.png 2x
              " />
            <source media="(max-width: 767px)" srcset="
                /img/sale/sale-mob-title-min.png    1x,
                /img/sale/sale-mob-title@2x-min.png 2x
              " />
            <img src="/img/sale/sale-desk-title-min.png" alt="top-wristwatch" class="sale-img" />
          </picture>
        </div>
      </div>
      <div class="sale-product-descr">
        <h3 class="sale-product-title">
          MARQ&reg; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-product-tag">Product tag: 706587</p>
        <div class="sale-new-price-wrap">
          <div class="sale-new-price">€1500</div>
          <p class="sale-product-prise">€3000</p>
        </div>
        <p class="sale-info">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials<span class="br-hide-two"><br /></span>
          and<span class="br-hide"><br /></span> features to the next level. The
          body of the<span class="br-hide-one"><br /></span> watch is made of
          very durable Fused Carbon Fiber material and<span class="br-hide-two"><br /></span>
          has a precise AMOLED touch screen. The sensitive touch screen is
          complemented by buttons<span class="br-hide-one"><br /></span> that
          can be used<span class="br-hide"><br /></span> in<span class="br-hide-two"><br /></span>
          any conditions.
        </p>
        <ul class="sale-tag-list">
          <li class="sale-tag-item">
            <p class="sale-tag-text">Fused carbon fiber</p>
          </li>
          <li class="sale-tag-item">
            <p class="sale-tag-text">Grade-5 Titanuim</p>
          </li>
          <li class="sale-tag-item">
            <p class="sale-tag-text">Athlete</p>
          </li>
          <li class="sale-tag-item">
            <p class="sale-tag-text">Golfer</p>
          </li>
          <li class="sale-tag-item">
            <p class="sale-tag-text">Commander</p>
          </li>
          <li class="sale-tag-item">
            <p class="sale-tag-text">Adventurer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>