.about-us {
  margin-bottom: 60px;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.about-us-text {
  border-radius: 30px;
  background: #f3f3f3;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.about-us-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 28px;
}

.about-us-item {
  margin-bottom: 20px;
}

.about-us-item:last-child {
  margin-bottom: 0;
}

.about-us-dscr {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  min-width: 295px;
}

.about-us-btn {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  background: #3350e9;
  border: none;
  padding: 15px 38px;
  min-width: 160px;
  margin-top: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us-btn:hover,
.about-us-btn:focus {
  background-color: #1f3cd4;
}

@media screen and (min-width: 768px) {
  .about-us-container {
    gap: 40px;
  }

  .about-us-text {
    border-radius: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
    min-width: 584px;
  }

  .about-us-title {
    font-size: 48px;
    line-height: 92%;
    margin-bottom: 40px;
  }

  .about-us-dscr {
    font-size: 16px;
    line-height: 125%;
  }

  .about-us-btn {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us-container {
    flex-direction: row;
  }

  .about-us-dscr {
    font-size: 16px;
    line-height: 125%;
    max-width: 460px;
  }

  .about-us-btn {
    margin-top: 40px;
  }
}
