.catalog-container {
    margin-bottom: 60px;
}

.catalog-subtitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}

.catalog-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.catalog-list-item {
    background-color: #f3f3f3;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    padding: 24px 28px;
    box-sizing: border-box;
    width: 335px;
    height: 364px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-list-item:first-child {
    opacity: 0.8;
}

.catalog-list-item:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.list-item {
    display: none;
}

.catalog-image-wrap {
    display: flex;
    justify-content: center;

    padding-top: 18px;
    padding-bottom: 18px;

}

.catalog-image {
    width: 100%;
    object-fit: cover;
}

.catalog-product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    gap: 8px;
}

.catalog-product-name {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.catalog-product-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
}

.catalog-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;
    border-radius: 16px;
    background-color: #3350e9;
    width: 160px;
    height: 48px;
    display: block;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-button:hover,
.catalog-button:focus {
    background: #1f3cd4;
}

@media only screen and (min-width: 768px) {
    .catalog-container {
        margin-bottom: 80px;
    }

    .catalog-subtitle {
        font-size: 48px;
        line-height: 0.91;
        margin-bottom: 40px;
    }

    .catalog-list {
        gap: 32px 16px;
        margin-bottom: 0;

    }

    .catalog-list-item {
        width: 344px;
        height: 414px;
        flex: 0 1 calc((100% - 16px) / 2);
        padding: 24px 32px;

    }

    .catalog-list-item:first-child {
        opacity: 1;
    }

    .catalog-image-wrap {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .list-item {
        display: block;
    }

    .catalog-product-name {
        font-size: 20px;
        line-height: 1;

    }

    .catalog-button {
        display: none;
    }
}

@media only screen and (min-width: 1280px) {
    .catalog-container {
        margin-bottom: 100px;
    }

    .catalog-list {
        gap: 32px 23px;
        margin-bottom: 0;
    }

    .catalog-list-item {
        width: 368px;
        flex: 0 1 calc((100% - 46px) / 3);
    }
}