.wrap_for_desktop {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  text-align: left;
  margin-bottom: 24px;
}
.contacts-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  min-width: 279px;
  height: 54px;
  margin-bottom: 28px;
}

.contacts-form {
  background-color: #f3f3f3;
  padding: 48px 28px;
  border-radius: 30px;
}

.contacts-input {
  margin-bottom: 18px;
  width: 100%;
  height: 42px;
  padding-top: 12px;
  padding-left: 14px;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: transparent;
}

.contacts-input:focus {
  border: 1px solid #3350e9;
}

.contacts-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #0c0c0c;
}

.textarea-comment {
  width: 100%;
  height: 84px;
  padding-top: 12px;
  padding-left: 14px;
  margin-bottom: 28px;
  color: #0c0c0c;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-comment:focus {
  border: 1px solid #3350e9;
}
.textarea-comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #0c0c0c;
}
.contacts-form-btn {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  padding: 12px 50px;
  min-width: 134px;
  height: 42px;
  border: none;
  margin: 0 auto 0 0;
  background-color: #3350e9;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-form-btn:hover,
.contacts-form-btn:focus {
  background-color: #1f3cd4;
}

@media only screen and (min-width: 768px) {
  .wrap_for_desktop {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .contacts-title {
    font-size: 48px;
    line-height: 1;

    margin-bottom: 40px;
  }

  .contacts-form {
    padding: 50px 122px;
  }
  .contacts-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 32px;
    min-width: 460px;
    height: 40px;
  }

  .contacts-input {
    height: 52px;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;
  }
  .contacts-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
  .textarea-comment {
    padding-top: 16px;
    padding-left: 16px;
    margin-bottom: 32px;
    height: 90px;
  }
  .textarea-comment::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
  .contacts-form-btn {
    min-width: 160px;
    height: 52px;
  }
}

@media only screen and (min-width: 1280px) {
  .contacts-form {
    padding: 50px 60px;
    width: 580px;
  }
  .wrap_for_desktop {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
