address {
    font-style: normal;
    margin: 0;
    padding: 0;
    }
  
.footer-container{
    padding-top: 30px;
    padding-bottom: 20px;
}
.footer-wraper {
    padding: 40px 28px 28px;
    background-color: #0c0c0c;
    border-radius: 30px;
}
.footer-icons-slogan{
    margin-bottom: 92px;
}
.footer-icons-section{
    margin-bottom: 20px;
}
.footer-icons-logo {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    display: flex;
    margin-bottom: 20px;
}
.footer-icons-list {
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.footer-icons-link {
    display: flex;
    height: 34px;
    width: 34px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    fill: #FBFBFB;
    opacity: 0.8;
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
}
.footer-icons-link:hover,
.footer-icons-link:focus {
    opacity: 1;
}
.footer-address-phone {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 152px;
    height: 44px;
    margin-bottom: 40px;
}
.footer-slogan {
    display: flex;
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    
}
.footer-menu-address {
    display: flex;
    flex-direction: row;
    gap: 49px;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #fbfbfb;
    border-bottom: 1px solid rgba(251, 251, 251, 0.1);
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.footer-menu-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 16px;
}
.footer-address-nav {
    display: flex;
}
.footer-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
    display: flex;
    margin-bottom: 8px;
}
.footer-term-list {
font-family: "Gilroy", sans-serif;
font-weight: 500;
font-size: 10px;
line-height: 1.4;
letter-spacing: -0.02em;
text-align: right;
color: rgba(251, 251, 251, 0.5);
display: flex;
flex-direction: row;
gap: 20px;
}


/*---------------------------------media768------------------------*/

@media screen and (min-width: 768px) {
    .footer-container{
        padding-top: 40px;
        padding-bottom: 32px;
    }
.footer-wraper {
        padding: 40px 40px 28px;
        position: relative;
}
.footer-icons-slogan{
    margin-bottom: 100px;
}
.footer-icons-section{
    margin-bottom: 20px;
}
.footer-icons-logo {
    font-size: 20px;
}

.footer-icons-link {
    width: 36px;
    height: 36px;
}
.footer-address-phone {
    font-size: 14px;
    line-height: 1.29;
    width: 160px;
    height: 48px;
    margin-bottom: 0;
    position: absolute;
    top: 40px;
    right: 40px;
}
.footer-slogan {
    font-size: 28px;
    line-height: 1.14;
}
.footer-menu-address {
    font-size: 14px;
    line-height: 1.29;
    justify-content: space-between;
    padding-bottom: 28px;
    margin-bottom: 28px;
    gap: 62px;
}
.footer-menu-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 19px;
}
.footer-address-nav {
    width: 162px;
}
.footer-text-term {
    display: flex;
    justify-content: space-between;
}
.footer-text {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.29;
}
.footer-term-list {
    font-size: 14px;
    line-height: 1.29;
}
}


/*-----------------------media1280-------------------*/

@media screen and (min-width: 1280px) {
    .footer-container{
        padding-top: 50px;
    }
.footer-icons-slogan {
    display: flex;
    margin-bottom: 126px;
}
.footer-icons-section {
    margin-right: 178px;
}
.footer-icons-list {
    margin-bottom: 0;
}
.footer-slogan {
    width: 523px;
    margin-bottom: 0;
}
.footer-menu-address {
    padding-bottom: 46px;
    margin-bottom: 46px;
}
.footer-menu-list {
    gap: 40px;
}
}