.header {
  background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-list,
.social-network-list {
  display: none;
}

.logo-link {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header-logo {
  display: block;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #0c0c0c;
  stroke-width: 2.5px;
  stroke: #0c0c0c;
}

.mobile-menu {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

@media only screen and (min-width: 768px) {
.header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .logo-link {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
  }

  .mobile-menu-button {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1280px) {

    .burger-btn {
            display: none;
        }
                
        .header-navigation {
            display: flex;
            align-items: center;
        }
    
        .header-menu-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }
      
    
        .header-logo {
            margin-right: 203px;
        }
    
        .header-menu-link {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: 0.02em;
            text-decoration: none;
            display: inline-block;
            color: #2e2f42;
            padding-top: 4px;
            padding-bottom: 14px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    
        .header-menu-link.current {
            position: relative;
        }
    
    
        .header-menu-link.current::after {
            content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 8px;
                height: 8px;
                padding-bottom: 4px;
                background-color: #4d5ae5;
                border-radius: 50%;
                opacity: 0;
                transition: opacity 250ms ease-in-out;
    
        }
                                .header-menu-link:hover::after,
                            .header-menu-link:focus::after,
                           .header-menu-link.active::after {
                    opacity: 1;
                }
        .social-network-list {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 10px;
        }
           .social-network-item {
            width: 36px;
            height: 36px;
           }

                .social-network-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 36px;
                   height: 36px;
                    border-radius: 50%;
                    background-color: transparent;
                    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    border: 1px solid rgba(12, 12, 12, 0.1);
                        border-radius: 10px;
                }
                .social-network-icon {
                width: 20px;
                height: 20px;
                fill: #0c0c0c;
                }
                                .social-network-icon:hover,
                                .social-network-icon:focus {
                    fill: #404bbf;
                                }
                              

}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #fff;
  transform: translateX(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-image: url('/img/menu/menu-mobile-min.jpg');
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 1000;
}
.mobile-menu.is-close {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__bg-image {
    background-image: url('/img/menu/menu-mobile@2x-min.jpg');
  }
}

@media screen and (min-width: 768px) {
  .mob-bg-image {
    width: 100%;
    background-image: url('/img/menu/menu-tab-min.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .mob-bg-image {
      background-image: url('/img/menu/menu-tab@2x-min.jpg');
      background-size: cover;
    }
  }
}

.mobile-menu-container {

    position: static;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    height: 100%;
    min-width: 0px;

}

.mobile-menu-button {
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  fill: #fff;
  stroke-width: 2.5px;
  stroke: #fbfbfb;
}




.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 240px;


}

.mobile-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link.current::after {

    content: '';
        display: block;
        width: 8px;
        height: 8px;
        background-color: #4D5AE5;
        border-radius: 50%;
        margin: 0 auto;
        opacity: 0;
        transition: opacity 250ms ease-in-out;
}
.mobile-menu-link.current:hover::after,
.mobile-menu-link.current:focus::after {
    opacity: 1;
}

.mob-social-network-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 40px;

 
}

.mob-social-network-item {
  width: 34px;
  height: 34px;
}

.mob-social-network-link {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
     height: 34px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;

}

.mob-social-network-icon {
  fill: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    width: 330px;
  }
}
@media only screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
