
.hero{
    padding-top: 60px;
    margin-bottom: 60px;
}

.hero-title{
    font-weight: 600;
        font-size: 40px;
        line-height: 0.95;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        margin-bottom: 20px;
}

.extra{
    color: #3350e9;
}



.hero-text{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.7);
        
        
}
.hero-img-wrap{
    display: flex;
    position: relative;
    height: 44px;
}

.hero-wrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}


.hero-list-item{
    position: absolute;
}
.hero-list-item:nth-child(1){
    top:0;
    left:0;
}
.hero-list-item:nth-child(2) {
    top: 0;
    left: 32px;
}
.hero-list-item:nth-child(3) {
    top: 0;
    left: 62px;
}

.hero-img{
    display: block;
    width: 44px;
    height: 44px;
    border: 2px solid #fbfbfb;
        border-radius: 50%;
}

.hero-anchor-link{
    margin-top: auto;
    margin-left: auto;
    font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #0c0c0c;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-anchor-link:hover, .hero-anchor-link:focus{
    color: #3350e9;
}

.hero-text-wrap{
    margin-bottom: 28px;
}

@media screen and (min-width:768px){
    .hero{
        padding-top: 80px;
        margin-bottom: 80px;
    }
    .hero-title{
        font-size: 68px;
            line-height: 0.86;   
    }

    .hero-text{
        max-width: 480px;
        font-size: 16px;
            line-height: 1.25;
    }
    .hero-anchor-link{
            font-size: 20px;
            line-height: 1;
            margin-top: auto;
    }
        .hero-img-wrap{
            height: auto;
            width: 136px;
        }
                .hero-wrap{
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 40px;
        }
                .hero-text-wrap{
                    width: 557px;
                    /* margin-right: 11px; */
                    margin-bottom: 0;
                }
                .hero-img{
                    width: 56px;
                    height: 56px;
                }
                                .hero-list-item:nth-child(1) {
                                    top: 0;
                                    left: 0;
                                }
                
                                .hero-list-item:nth-child(2) {
                                    top: 0;
                                    left: 41px;
                                }
                
                                .hero-list-item:nth-child(3) {
                                    top: 0;
                                    left:80px;
                                }
}

@media screen and (min-width:1280px){
    .hero{
        margin-bottom: 100px;
    }

    .hero-text-wrap{
        width: 597px;
        margin-right: 0;
    }

    .hero-title{
        width: 588px;
        font-size: 72px;
            line-height: 0.875;
    }
    .hero-img-wrap{
        width: 146px;
    }
        .hero-img{
            width: 60px;
            height: 60px;
        }
                .hero-list-item:nth-child(1) {
                    top: 0;
                    left: 0;
                }
        
                .hero-list-item:nth-child(2) {
                    top: 0;
                    left: 44px;
                }
        
                .hero-list-item:nth-child(3) {
                    top: 0;
                    left: 86px;
                }
}