/* Sale */
.sale {
  padding: 30px 0;
  background: #fbfbfb;
}

.sale-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.sale-list {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.sale-list-item {
  max-width: 80px;
  height: 80px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  background: #f3f3f3;
  padding: 13px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.sale-top-img {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  height: 385px;
  background: #f3f3f3;
  margin-bottom: 20px;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale-text-wrap {
  padding: 48px 28px;
  border-radius: 30px;
  background-color: #3350e9;
}

.sale-product-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.sale-product-id {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.sale-price-wrap {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-bottom: 28px;
}

.sale-price-current {
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 8px;
  width: 68px;
  height: 32px;
  background: rgba(251, 251, 251, 0.1);
  padding: 8px 12px;
  align-items: center;
  justify-content: center;
}

.sale-price-old {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-product-description {
  max-width: 279px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}

.sale-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 8px;
}

.sale-tag-item {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
}

.sale-tag-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #fbfbfb;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .sale {
    padding: 40px 0;
  }

  .sale-title {
    font-size: 48px;
    line-height: 0.91667;
    margin-bottom: 40px;
  }

  .sale-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
  }

  .sale-list {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0;
  }

  /* .sale-img-galery {
    display: flex;
  } */

  .sale-list-item {
    max-width: 132px;
    height: 132px;
    border-radius: 20px;
    padding: 16px 18px;
  }

  .sale-top-img {
    border-radius: 50px;
    height: 558px;
    margin-bottom: 0;
    padding: 80px 112px;
  }

  .sale-text-wrap {
    padding: 60px 60px;
    border-radius: 50px;
  }

  .sale-product-title {
    font-size: 32px;
    line-height: 1.125;
  }

  .sale-product-id {
    line-height: 1.28571;
    letter-spacing: -0.02em;
  }

  .sale-price-wrap {
    margin-bottom: 30px;
  }

  .sale-price-current {
    font-size: 20px;
    line-height: 0.91;
    width: 78px;
  }

  .sale-product-description {
    max-width: 584px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }

  .sale-tag-list {
    max-width: 398px;
  }

  .sale-tag-text {
    font-size: 14px;
    line-height: 1.28;
  }
}

@media screen and (min-width: 1280px) {
  .sale-wrap {
    display: flex;
    flex-wrap: nowrap;
  }
}
