.sale {
  background: #fbfbfb;
}

.sale-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.sale-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.sale-card-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sale-list {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.sale-list-item {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  width: calc((100% - 15px) / 4);
  background: #f3f3f3;
  padding-top: 13px;
  padding-bottom: 13px;
  align-items: center;
  flex-shrink: 0;
}

.sale-image {
  width: 100%;
  object-fit: cover;
}

.sale-img-wrapper {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f3f3f3;
}

.sale-product-descr {
  border-radius: 30px;
  width: 100%;
  background: #3350e9;
  color: #fbfbfb;
  padding: 48px 28px;
}

.sale-product-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
}

.sale-product-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.sale-new-price-wrap {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-bottom: 28px;
}

.sale-new-price {
  padding-top: 8px;
  text-align: center;
  border-radius: 8px;
  width: 68px;
  height: 32px;
  background: rgba(251, 251, 251, 0.1);
}

.sale-product-new-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.sale-product-prise {
  padding-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}

.br-hide-two {
  display: none;
}

.br-hide-one {
  display: none;
}

.br-hide {
  display: inline;
}

.sale-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 8px;
}

.sale-tag-item {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
}

.sale-tag-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #fbfbfb;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .sale-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }

  .sale-card-box {
    flex-direction: row;
    gap: 20px;
  }

  .sale-list {
    width: 132px;
    flex-direction: column;
    gap: 10px;
  }

  .sale-list-item {
    border-radius: 20px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .sale-img-wrapper {
    border-radius: 50px;
    width: 552px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .sale-product-descr {
    border-radius: 50px;
    width: 704px;
    padding: 60px;
  }

  .sale-product-title {
    font-size: 32px;
    line-height: 1.13;
    margin-bottom: 10px;
    width: 436px;
  }

  .sale-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }

  .br-hide-one {
    display: inline;
  }

  .br-hide {
    display: none;
  }

  .sale-product-tag {
    margin-bottom: 20px;
  }

  .sale-new-price-wrap {
    margin-bottom: 30px;
  }

  .sale-product-new-price {
    font-size: 20px;
    line-height: 1;
  }

  .sale-product-description {
    max-width: 584px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }

  .sale-tag-list {
    max-width: 398px;
  }

  .sale-tag-text {
    font-size: 14px;
    line-height: 1.28;
  }
}

@media only screen and (min-width: 1280px) {
  .sale-img-wrapper {
    width: 428px;
  }

  .sale-container {
    margin-bottom: 100px;
    flex-direction: row;
    gap: 40px;
  }

  .sale-product-descr {
    width: 530px;
  }

  .br-hide-one {
    display: none;
  }

  .br-hide-two {
    display: inline;
  }
}
